/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  font-family: georgia, serif;
  background: #dbd3bf;
}

a:link {
  color: #000;
}

/* Front page */

#zone-branding {
  background-image: url(../images/header1.jpg);
  height: 218px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.5); /* Для Chrome и Safari*/
}

h1#page-title {
  font-size: 23px;
}
/*
#region-branding {
  background-image: url(../images/headern.png);
  height: 390px;
  position: relative;
  z-index: 10;
  margin-bottom: -100px;
} */

#region-menu {
  width:960px!important;
  margin:0;
  position: relative;
  z-index: 100;
}

h1.site-name a {
  width:586px;
  height:260px;
  text-indent:-99999px;
  float:left;
  display:none;
}

#zone-content {
  margin-top:0!important;
  padding-top:24px;
}

#main-menu {
  background:#a3793d;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5); /* Для Chrome и Safari*/
  display:block;
  padding:6px;
  border:1px solid #5c421c;
  margin-bottom:0!important;
}

#main-menu a,
#main-menu a:active,
#main-menu .active a {
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
}

#main-menu a:hover {
  text-decoration:underline;
}

#main-menu a.active {
  padding: 10px 20px;
  background-color: #5f441d;
}

#main-menu  li {
  padding:0 32px;
}

.block-menu li {
  list-style-image:none!important;
  list-style-type:none!important;
  text-align:center;
  font-size: 16px;
}


#zone-content,
#zone-footer {
  background:url(../images/background.png) repeat-y;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.5); /* Для Chrome и Safari*/
}

#block-block-3 {
  width: 600px;
  margin: 0 auto;
}

#block-block-3 img {
  width: 600px;
  margin-bottom: -20px;
}

.page-node #region-content .region-inner,
.page-comment #region-content .region-inner,
.node-type-webform #region-content .region-inner,
.page-artykuly .view-articles .views-row,
.page-naviny .view-news .views-row,
.page-asoby .view-asoby .views-row,
.page-karta .view-map {
  background:#faf2d9;
  margin-bottom:24px;
  border:1px solid #5c421c;
  padding:8px 16px;
  min-height: 150px;
}

.page-katalog .view-catalog- .views-row,
#block-views-2d465134e0ae11ee076fc156e5b18f08,
#block-views-alphabet-view-cirill-block-1,
#views-exposed-form-poshuk-page-1,
.page-poshuk .node-card, 
#comments,
#views-exposed-form-catalog--catalog-cards,
.page-taxonomy #region-content .region-inner article {
  background:#faf2d9;
  margin-bottom:24px;
  border:1px solid #5c421c;
  padding: 8px 16px;
}

  
#block-views-2d465134e0ae11ee076fc156e5b18f08,
#block-views-alphabet-view-cirill-block-1 { 
  width: 170px;
  float: left;
  margin: 20px 30px 20px 80px;
  padding: 10px;
}

#block-views-2d465134e0ae11ee076fc156e5b18f08 .view-alphabet-view-cirill table,
#block-views-alphabet-view-cirill-block-1 .view-alphabet-view-cirill table {
  margin-bottom: 0px;
  width: 150px;
}

#block-views-2d465134e0ae11ee076fc156e5b18f08 .view-alphabet-view-cirill .views-field-name,
#block-views-alphabet-view-cirill-block-1 .view-alphabet-view-cirill .views-field-name {
  padding: 7px;
} 

#block-views-2d465134e0ae11ee076fc156e5b18f08 .view-alphabet-view-cirill .views-field-name a,
#block-views-alphabet-view-cirill-block-1 .view-alphabet-view-cirill .views-field-name a {
  color: #000;
  text-decoration: none; 
}

#block-views-2d465134e0ae11ee076fc156e5b18f08 .view-alphabet-view-cirill .views-field-name a:hover,
#block-views-alphabet-view-cirill-block-1 .view-alphabet-view-cirill .views-field-name a:hover {
  text-decoration: underline;
  color: #685232;
}

.page-naviny .view-news .views-row .field-name-field-photo img,
.page-asoby .view-asoby .views-row .views-field-field-photo img,
.page-poshuk .view-content .node-card  .field-name-field-photo img,
.page-node .node-card .field-name-field-photo img {
  float: left;
  margin-right: 20px;
}

.field .field-label {
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.field-name-field-name-original .field-item {
  float: left;
  margin-right: 5px;
}

.page-asoby .view-asoby .views-row .views-field-field-photo img {
  border: black 1px solid;
}

.page-naviny .view-news .views-row .field-name-field-date {
  text-align: right;
  margin-bottom: 10px;
}

.page-naviny .view-news .views-row .node-links a {
  color: #9c6f30;
  font-size: 16px;
  text-decoration: none;
  float: right;
}

/*

article {
  background:#faf2d9;
  margin-bottom:24px;

#block-system-main article{
  border:1px solid #5c421c;
  padding:8px 16px;
} */

h2.node-title {
  line-height: 32px;
  margin-bottom: 0;
  text-align: center;
}

h2.node-title a {
  color:#000;
  text-decoration:none;
  font-size: 22px; 
}

h2.node-title a:hover {
  color: #685232;
  text-decoration: underline;
}

aside .block {
  background:#faf2d9;
  padding:8px;
  margin-top: 40px;
}

aside .block a {
  text-decoration:none;
  color:#000;
}


h2.block-title {
  background:#9c6f30;
  padding:2px auto;
  text-align:center;
  width:100%;
  color:#faf2d9;
  margin:-8px 0 8px -8px;
  width:220px;
}

h2.block-title a:hover {
  text-decoration:underline;
}

#block-menu-menu-menu-vertical {
  margin-top: 0px;
}

#block-menu-menu-menu-vertical a,
#block-menu-menu-menu-vertical a:hover,
#block-menu-menu-menu-vertical a.active,
#block-menu-menu-menu-baza a,
#block-menu-menu-menu-baza a:hover,
#block-menu-menu-menu-baza a.active {
  color: #685232;
  text-transform: uppercase;
  font-size: 13px;
}

#block-menu-menu-menu-vertical a:hover,
#block-menu-menu-menu-vertical a.active,
#block-menu-menu-menu-baza a:hover,
#block-menu-menu-menu-baza a.active {
  text-decoration: underline;
}

.view-header-photo  .views-field-field-photo {
  background: url(../images/image_background.png) no-repeat;
  width: 250px;
  float: left;
  height: 165px;
  margin-top: 20px;
}

.view-header-photo .views-field-field-photo img {
  margin: 13px 0 0 6px;
}

#block-block-1 {
  width: 425px;
}

.form-item-custom-search-blocks-form-1 input[type="text"] {
  color: #685232;
  font-size: 13px;
  text-transform: uppercase;
  width: 180px;
  margin-left: 12px;
}

select,
input[type="text"] {
  width: 180px;
}

.breadcrumb {
  background: url(../images/breadcrumb_line.png) no-repeat;
  width: 75%;
  margin-left: 26%;
  margin-bottom: 10px;
  margin-top: -10px;
}

.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a.active {
  color: #000000;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif; 
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

#block-block-2 {
  position: absolute;
  z-index: 999;
  margin: -150px 0 0 250px;
}


/* @end Front page */

/* Articles page */

.view-articles .views-field-field-photo img
/*.view-asoby .views-field-field-photo */{
  float: left;
  padding-right: 20px;
}

.view-articles .views-field-title a,
.view-asoby .views-field-title a {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.view-articles .views-field-title a:hover,
.view-asoby .views-field-title a:hover {
  text-decoration: underline;
}

.view-articles .views-field-field-author {
  font-size: 21px;
  color: #000000;
  font-style: italic;
}

.view-articles .views-field-field-date {
  font-size: 17px;
  font-weight: normal;
}

.view-articles .views-field-field-date span {
  float: left;
  padding-right: 10px;
}

.field-name-field-phota-vip {
  width: 480px;
  margin: 10px auto;
}

.node-articles .field-name-field-author .field-item,
.node-articles .field-name-field-date .field-item {
  text-align: right;
}

/* @end Articles page */

/* Graves page */

/*#FAF2D9 - светлый
  ##F3ECD8 - для табов
  #685232  - темный
*/
.horizontal-tabs ul.horizontal-tabs-list {
    background-color: #F3ECD8;
}

.horizontal-tabs ul.horizontal-tabs-list li {
    background-color: #F3ECD8;
}

ul.horizontal-tabs-list a {
    color: #685232;
    font-size: 13px;
    text-transform: uppercase;
}

ul.horizontal-tabs-list a #active-horizontal-tab {
  text-decoration: underline;
}

.horizontal-tabs ul.horizontal-tabs-list li.selected {
    background-color: #F3ECD8;
}

.horizontal-tabs ul.horizontal-tabs-list li a:hover {
    background-color: #F3ECD8;
    text-decoration: underline;
}

.horizontal-tabs ul.horizontal-tabs-list .selected strong {
    color: #685232;
    text-decoration: underline;
}

.field-name-field-gallery img {
    margin: 2px;
    float: left;
}

#region-content .field-name-field-type a:link, 
#region-content .field-name-field-type a:visited,
#region-content .field-name-field-placement-by-taxonomy a:link, 
#region-content .field-name-field-placement-by-taxonomy a:visited {
    color: #685232;
}

.view-spis-pahavanyh .view-content table {
  width: 600px;
  margin: 20px auto;
}


.view-spis-pahavanyh .views-field-title,
.view-spis-pahavanyh .views-field-field-born-year,
.view-spis-pahavanyh .views-field-field-die-year {
  background-color: #F3ECD8;
  padding: 5px 15px 0 5px;
}

.view-spis-pahavanyh .views-field-title a,
.view-spis-pahavanyh .views-field-title a:link,
.view-spis-pahavanyh .views-field-field-born-year span,
.view-spis-pahavanyh .views-field-field-die-year span {
  color: #000000;
  text-decoration: none;
}

.view-spis-pahavanyh .views-field-title a:hover {
  text-decoration: underline;
}

.view-spis-pahavanyh .views-field-field-born-year,
.view-spis-pahavanyh .views-field-field-die-year {
  text-align: center;
}

.field-name-field-scheme img {
  margin: 20px;
}

.field-name-field-position .openlayers-container {
  width: 600px;
  margin: 20px auto;
}

.field-name-field-indexation .field-label {
  float: left;
}


/* @end Graves page */

.pager li.pager-current {
  color: #000000;
  font-size: 14px;
}

.pager li a {
  color: #685232;
  text-decoration: none;
}

.pager li a:hover {
  text-decoration: underline;
}

/* Taxonomy page */
.page-taxonomy #region-content .region-inner article .content {
  margin-bottom: -20px;
}

.page-taxonomy #region-content .region-inner article .node-readmore,
.page-taxonomy #region-content .region-inner article .comment-add {
  display: none;
}

/* @end Taxonomy page */

.field a:link,
.field a:visited {
  color: #685232;
}

/* Send button */

.form-actions input,
.views-exposed-form .views-exposed-widget .form-submit {
  background: #faf2d9;
  color: #685232;
  border: 1px #685232 solid;
  border-radius: 0;
}

button:focus, 
button:active, 
input:focus, 
input:active, 
select:focus, 
select:active, 
textarea:focus, 
textarea:active {
  box-shadow: #685232 0px 0px 7px;
}

/* @end Send button */