/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  font-family: georgia, serif;
}

#zone-branding {
  background-image: url(../images/background.jpg);
  height:316px;
}

#region-branding {
  background-image: url(../images/headern.png);
  height: 390px;
  position: relative;
  z-index: 10;
  margin-bottom: -100px;
}

#region-menu {
  width:960px!important;
  margin:0;
  position: relative;
  z-index: 100;
}

h1.site-name a {
  width:586px;
  height:260px;
  text-indent:-99999px;
  float:left;
  display:none;
}

#zone-content {
  margin-top:0!important;
  padding-top:24px;
}

#main-menu {
  background:#a3793d;
  display:block;
  padding:6px;
  border:1px solid #5c421c;
  margin-bottom:0!important;
}

#main-menu a,
#main-menu a:active,
#main-menu .active a
 {
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
}

#main-menu a:hover {
  text-decoration:underline;
}

#main-menu  li {
  padding:0 32px;
}

.block-menu li {
  list-style-image:none!important;
  list-style-type:none!important;
  text-align:center;
  font-size: 16px;
}


#zone-content {
  background:url(../images/background.png) repeat-y;
}


article {
  background:#faf2d9;
  margin-bottom:24px;
}

#block-system-main article{
  border:1px solid #5c421c;
  padding:8px 16px;
}

h2.node-title a {
  color:#000;
  text-decoration:none;
  font-size: 22px;
  
}

h2.node-title {
  line-height: 32px;
  }

aside .block {
  background:#faf2d9;
  padding:8px;
}

aside .block a {
  text-decoration:none;
  color:#000;
}


h2.block-title {
  background:#9c6f30;
  padding:2px auto;
  text-align:center;
  width:100%;
  color:#faf2d9;
  margin:-8px 0 8px -8px;
  width:220px;
}

h2.block-title a:hover {
  text-decoration:underline;
}

#block-menu-menu-menu-vertical a,
#block-menu-menu-menu-vertical a:hover,
#block-menu-menu-menu-vertical a:active,
#block-menu-menu-menu-baza a,
#block-menu-menu-menu-baza a:hover,
#block-menu-menu-menu-baza a:active {
  color: #685232;
  text-transform: uppercase;
  font-size: 13px;
}

#block-views-header-photo-block {
  width: 300px;
  background: url (../images/image_background.png) no-repeat;
  float: left;
}

/*
.views-field-field-photo {
  background: url (../images/image_background.png) no-repeat;
  width: 250px;
  float: left;
}
*/

#block-block-1 {
  width: 425px;
}

/* Старонка Артыкулы */
/*
.view-articles {
  background:#faf2d9;
  margin-bottom:24px;
}

.view-articles .views-row {
  
}

.view-articles .views-field-title a:link {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-decoration: none;
}

.view-articles .views-field-title a:hover {
  text-decoration: underline;
}
*/

.view-articles author {
  font-size: 21px;
  color: #000000;
  font-style: italic;
}

.view-articles date label {
  font-size: 17px;
  font-weight: normal;
}